/* Custom Props  */
:root{
     --primary: #F3D7B7;
     --secondary-color: #0A775F;
     --body-color: #F8F8F2;
     --article-color: #C99B67;
}


/* Global  */

html{
     box-sizing: border-box ;
     height: 100%;
     scroll-behavior: smooth ;

}

*,
*::after,
*::before{
     box-sizing: inherit;
}

body{
     padding: 0;
     margin: 0;
     max-width: 1440px;
     display: flex;
     flex-direction: column;
     font-family: "Roboto","Arial", sans-serif;
     flex-direction: column;
     height: 100%;
     margin-right: auto;
     margin-left: auto;
     background-color: #fff;
     color: #222;
}

img{
     max-width: 100%;
     height: auto;
}

/* CONTAINER  */
.container{
     width: 100%;
     max-width: 1440px;
     padding: 0;
     margin-left: auto;
     margin-right: auto;

}

/* Button  */
.button{
     color: #fff;
     background-color: var(--secondary-color);
     text-decoration:none;
     border-radius: 100px;
     padding: 16px 24px;
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     line-height: 19px;
     text-align: center;
     letter-spacing: 1px;
     text-transform: uppercase;
}
.button:hover{
     opacity: 0.8;
}
.button:active{
     opacity: 0.6;
}

/* SITE_HEADER  */
.site-header {
     height: 100%;
     padding: 0;
     padding-top: 40px;
     background-color: var(--primary);
     margin-bottom: 110px;
     /* flex-grow: 1; */
}
.site-header-container {
     display: flex;
     align-items: center;
     padding-left: 50px;
     padding-right: 50px;

}

.site-logo {
     margin-right: auto;
}
.site-logo:hover{
     opacity: 0.8;
}
.site-logo:active{
     opacity: 0.6;
}
.site-header-logo-image {
     display: block;
     width: 235px;
     height: 24px;
     object-fit: contain;
}

/* SITE_NAV  */
.sitenav {
}
.sitenav-list {
     display: flex;

}
.sitenav-item {
     list-style: none;

}
.sitenav-item:not(:last-child) {
     padding-right: 40px;
}
.sitenav-link {
     text-transform: uppercase;
     font-family: "Roboto","Arial", sans-serif;
     text-decoration: none;
     color: black;
     font-style: normal;
     font-weight: bold;
     font-size: 12px;
     line-height: 14px;
     letter-spacing: 1px;
}

.sitenav-link:hover{
     color: var(--secondary-color);
}

.sitenav-link:active{
     opacity: 0.4;
}

.site-heaader-info {
     margin-top: 40px;
     display: flex;
     padding: 0;
     width: 100%;
     height: 100%;
     max-height: 696px;
     max-width: 1440px;
     background-image: url(/img/cofee-image.png);
     background-repeat: no-repeat;
     background-position: left calc(50% + 386px) bottom;
     object-fit: contain;
     background-color: var(--primary);
     padding-bottom: 130px;

}
.img-center-wrapper{
     position: relative;
}
.img-center{
     position:absolute;
     transform: rotate(-25deg);
     left: 47%;
     top: -60px;
     width: 160px;
     height: 160px;

}
.site-header-content {
     display: block;
     flex-direction: column;
     width: 100%;
     max-width: 464px;
     margin-left: 100px;
     font-family: "Roboto","Arial", sans-serif;
     margin-top: 156px;
}
.site-header-content-heading {
     padding: 0;
     margin: 0;
     font-style: normal;
     font-weight: bold;
     font-size: 64px;
     line-height: 75px;
}
.site-header-text {
     padding: 0;
     margin: 0;
     margin-top: 20px;
     font-style: normal;
     font-weight: normal;
     font-size: 16px;
     line-height: 24px;
     margin-bottom: 34px;
}
.cta-btn {
     width: 100%;
}

/* <!-- MAIN SECTIONS  --> */
.main-section {
     padding: 0;
     margin: 0;
     background-color:var(--body-color);
     margin-left: 20px;
     margin-right: 20px;
     position: relative;
}
.collection-images {
     position: relative;
}
.first-left-img {
     position: absolute;
     left: -12.53%;
     top: 1%;
}
.second-right-img {
     position: absolute;
     right: -15.53%;
     top: 24%;
     transform: matrix(0.96, -0.29, 0.29, 0.96, 0, 0);

}
.fourth-left-img {
     position: absolute;
     left: -13.61%;
     right: 91.67%;
     top: 42.05%;
     bottom: 100%;
     transform: rotate(-7deg);
}
.third-right-img {
     position: absolute;
     left: 92.64%;
     top: 28%;
     right: -25.76%;
     bottom: 49.72%;


}

.main-content {
     padding-right: 143px;
     padding-left: 143px;
}
.main-header {
     margin: 0;
     margin-top: 50px;
     margin-bottom: 80px;
     font-style: normal;
     font-weight: bold;
     font-size: 50px;
     line-height: 59px;
     text-align: center;
     text-transform: uppercase;
}

/* Collections  */
.collectioins-inner:last-child{
     margin-bottom: 50px;
}
.collections {
     display: flex;
     /* margin-left: auto; */
     align-items: space-between;
     align-items: center;
}

.collections:not(:last-child){
     margin-bottom: 121px;
}
.collections:nth-child(even){
     flex-direction: row-reverse;
     /* background-color: rgb(136, 99, 99); */

}
.collections-img {
     display: flex;
     justify-content: flex-end;
     width: 450px;
     height: 375px;
     margin-right: 117px;
}

.collections-box {
     width: 100%;
     max-width: 450px;
}

.collections-title {
     margin: 0;
     padding: 0;
     font-style: normal;
     font-weight: 500;
     font-size: 48px;
     line-height: 56px;
}
.collections-text {
     margin: 0;
     padding: 0;
     margin-top: 10px;
     font-style: normal;
     font-weight: normal;
     font-size: 22px;
     line-height: 34px;
}

/* INFO SECTION  */

.info-section {
     margin: 0;
     padding: 0;
     background-color: var(--article-color);
     height: 703px;
     position: relative;
}
.but-first-coofee-img-1{
     position: absolute;
     left: 0%;
     right: 90.28%;
     top: 31.04%;
     bottom: 35.84%;

}
.info-section-header {
     margin: 0;
     padding: 0;
     color: #fff;
     font-style: normal;
     font-weight: bold;
     font-size: 50px;
     line-height: 59px;
     text-align: center;
     padding-top: 50px;
}
.infor-section-text {
     margin: 0;
     padding: 0;
     margin-top: 10px;
     margin-right: auto;
     margin-left: auto;
     width: 581px;
     font-style: normal;
     font-weight: normal;
     font-size: 16px;
     line-height: 28px;
     text-align: center;
     color: #FFFFFF;
}

/* INFO BOX SECTION  */
.info-section-box-wrapper{
     display: flex;
     align-items: center;
     margin-top: 80px;
     padding-left: 80px;
     padding-right: 30px;
}
.info-section-box {
     padding: 0;
     margin: 0;
     display: flex;
     flex-direction: column;
     padding-right: 20px;
}
.info-section-img {
     padding: 0;
     margin: 0;
     width: 453px;
     height: 500px;
     object-fit: cover;
}
.info-section-box-header {
     padding: 0;
     margin: 0;
     margin-top: 28px;
     font-style: normal;
     font-weight: 500;
     font-size: 30px;
     line-height: 35px
}
.info-section-box-text {
     padding: 0;
     margin: 0;
     width: 100%;
     min-width: 377px;
     margin-top: 10px;
     font-style: normal;
     font-weight: normal;
     font-size: 18px;
     line-height: 28px;
}

/* ARTICLE SECTION  */
.article-section {
     margin-top: 280px;
     display: flex;
     flex-direction: column;
     background-color: var(--secondary-color);
     position: relative;
}
.article-section-img{
     position: absolute;
     top: 5%;
     left: 80%;
     width: 192px;
     height: 129px;
     /* transform: rotate(16.96deg); */
}
.article-section-header {
     font-style: normal;
     font-weight: bold;
     font-size: 50px;
     line-height: 59px;
     text-align: center;
     color: #FFFFFF;
     padding-top: 50px;
}
.article-section-inner {
     display: flex;
     justify-content: space-between;
     padding-left: 30px;
     padding-right: 30px;

}
.article-box {
     width: 433px;
     position: relative;
     display: flex;
     flex-direction: column;
     width: calc(100% / 3 - 20px);
     border: 1px solid #000;
     background-color: #F8F8F2;
     padding-left: 20px;
}
.article-box-number {
     padding: 0;
     margin: 0;
     text-align: end;
     margin-right: 20px;
     margin-top: 20px;
     font-style: normal;
     font-weight: normal;
     font-size: 64px;
     line-height: 75px
}
.article-box-header {
     padding: 0;
     margin: 0;
     margin-top: 45px;
     font-style: normal;
     font-weight: 500;
     font-size: 40px;
     line-height: 47px;
}
.article-box-text {
     margin: 0;
     margin-top: 10px;
     font-style: normal;
     font-weight: normal;
     font-size: 18px;
     line-height: 28px;
     padding-bottom: 40px;
}

.article-section-btn {
     margin-left: auto;
     margin-right: auto;
     max-width: 230px;
     display: inline-block;
     margin-top: 60px;
     color: #fff;
     background-color: var(--article-color);
     margin-bottom: 50px;
}

/* FOOTER */
.site-footer {
     width: 100%;
     max-width: 1440px;
     background-color: var(--cornsilk-color);
}
.site-footer-navbar {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 50px 65px;

}
.site-logo-img {
     display: block;
     margin: 0;
     padding: 0;
}
.footer-sitenav-list {
     display: flex;
     align-items: center;
     list-style: none;
     margin: 0;
     padding: 0;
}
.site-footer-social-list {
     display: flex;
     align-items: center;
     list-style: none;
     margin: 0;
     padding: 0;
}
.site-footer-social-link{
     display: block;
     color: #333;
     text-decoration: none;
}
.site-footer-social-link:hover{
     opacity: 0.8;
}
.site-footer-social-link:active{
     opacity: 0.6;
}
.social-icons{
     display: block;
     margin: 0;
     padding: 0;

}
.site-footer-social-item{
     width: 30px;
     height: 30px;
}

.site-footer-social-item:not(:last-child){
     margin-right: 30px;
}
